  .logo-firstcolor {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4D5AE5;
  }

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;}

  
.header-item {
        list-style: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;;
}

.nav-link {font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

text-decoration: none;}

.adress-link {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;}

.hero-primary-heading {
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;

}

.btn {
    
    height: 56px;
    width: 169px;
    left: 636px;
    top: 428px;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    background: #4D5AE5;
    border-radius: 4px;


    font-family: 'Roboto';
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;}

.hero-heading-hiden {color: white;}

.hero-secondary-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize
}

.hero-item {list-style: none;
}

.hero-item-heading {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;}

.hero-item-content {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;}

.footer.content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;   
}


.filter-btn {
    list-style: none; 
    padding: 12px 24px;
    width: 69px;
    height: 48px;
    background: #404BBF;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

